// colors

$default-primary-white: #FFFFFF;
$default-secondary-white: #F2F5FA;
$default-gray: #E3E3E4;
$default-blue: #4066A5;
$default-text-color: #6A707B;
$default-heading-color: #131821;
$default-link-pressed: #233759;

$facebook-hover: #4267B2;
$facebook-active: #2F4A80;
$instagram-hover: #C13584;
$instagram-active: #8F2762;
$twitter-hover: #1DA1F2;
$twitter-active: #177FBF;
$youtube-hover: #FF0000;
$youtube-active: #CC0000;

$shadow-color: #00000010;


// breaking points

$bp-mobile-width: 768px;
$bp-mobile-height: 650px;
