// colors

$default-primary-white: #FFFFFF;
$default-secondary-white: #F2F5FA;
$default-gray: #E3E3E4;
$default-blue: #4066A5;
$default-text-color: #6A707B;

// icons

$icon-checker: url(~styles/icons/ic_checkmark.svg);
