@import '../../styles/main.scss';

.Success {
  display: block;
  padding: 0 140px 0;
  overflow-y: scroll;
  width: 100%;

  @include mobile-width {
    padding: 30px 20px 0 20px;
  }

  &-Icon {
    mask-image: url('/styles/images/icons/ic_success.svg');
    mask-repeat: no-repeat;
    background-color: $default-blue;
    width: 44px;
    height: 70px;
    margin-top: 128px;

    @include mobile-width {
      margin-top: 0;
    }
  }

  &-Text {
    margin-top: 34px;

    @include mobile-width {
      margin-top: 39px;
    }

    h1 {
      padding-bottom: 25px;

      @include mobile-width {
        line-height: 34px;
        padding-bottom: 10px;
      }
    }

    p {
      line-height: 1.75;
      padding-bottom: 49px;
      border-bottom: solid 1px $default-gray;

      @include mobile-width {
        line-height: 1.9;
        padding-bottom: 20px;
      }
    }
  }
}
