@import '../../styles/main.scss';

.Subscribe {
  display: block;
  padding: 0 140px 0;
  overflow-y: scroll;
  width: 100%;

  @include mobile-width {
    padding: 30px 20px 0 20px;
  }

  &-TopText {
    padding-top: 237px;

    @include mobile-width {
      padding-top: 0;
    }

    h1 {
      color: $default-heading-color;
      font-family: Georgia;
      font-size: 32px;
      padding-bottom: 20px;

      @include mobile-width {
        font-size: 24px;
        line-height: 34px;
        padding-bottom: 10px;
      }
    }

    p {
      color: $default-text-color;
      font-family: Arial;
      font-size: 16px;
      line-height: 1.75;
      padding-bottom: 49px;

      @include mobile-width {
        font-size: 14px;
        line-height: 1.9;
        padding-bottom: 20px;
      }
    }
  }
}
