@import '../../styles/main.scss';

.PageContent {
  display: flex;
  height: 100vh;
  width: 100vw;
  min-height: 650px;

  @include mobile-width {
    display: block;
  }

  &-Left {
    display: block;
    background-color: black;
    width: calc(100vw - 40px);
    background: linear-gradient(180deg, $default-primary-white 0%, $default-secondary-white 100%);
    height: 371px;
    margin: 0 20px 0;
    position: absolute;
    z-index: 1;

    @include mobile-width {
      top: calc(66px + (100vh - 66px - 371px) / 2 );
    }

    @include mobile-height {
      top: 172px;
    }

    @include desktop {
        width: 680px;
        min-height: 100vh;
        padding-top: 141px;
        margin: 0;
        position: relative;
    }
  }

  &-Right {
    height: 100vh;
    overflow: hidden;
    width: calc(100vw - 680px);
    min-height: 650px;

    @include mobile-width {
      width: 100vw;
      height: calc(100vh - 66px);
      position: absolute;
      top: 66px;
    }

    img {
      @include mobile-width {
          margin-left: -281px;
          height: 100%;
      }
    }
  }
}
