@import '../../styles/main.scss';

.Header {
  display: flex;
  width: 100vw;
  position: absolute;
  top: 0;
  background: $default-primary-white;
  height: 66px;
  z-index: 2;

  @include desktop {
    position: fixed;
    width: 680px;
    padding: 100px 100px 0;
    background: none;
  }

  &-Logo {

    &Image {
      margin: 10px 0 16px 20px;
      height: 40px;

      @include desktop {
          margin: 0 15px 0 0;
      }
    }

    &Text {
      padding-bottom: 4px;

      @include mobile-width {
        display: none;
      }
    }
  }

  nav {
    margin-left: auto;
    padding: 21px 20px 21px 0;
    white-space: nowrap;
    line-height: 24px;

    @include desktop {
      display: block;
      padding: 16px 0 0 0;
    }

    a {
      font-family: Arial;
      color: $default-text-color;
      text-decoration: none;
      margin-left: 30px;

      @include mobile-width {
        margin-left: 21px;
      }
    }
  }
}
