h1 {
  color: $default-heading-color;
  font-family: Georgia;
  font-size: 32px;

  @include mobile-width {
    font-size: 24px;
  }
}

p, a {
  color: $default-text-color;
  font-family: Arial;
  font-size: 16px;

  @include mobile-width {
    font-size: 14px;
  }
}
